@media (min-width: 512px) {
  .footer-wrapper {
    margin-top: 2em;
    width: 74em;
    height: 32.5em;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-info {
      width: 52em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      img {
        width: 46em;
        height: 16em;
        margin: 0 auto;
      }
      .flags-links {
        width: 52em;
        margin-top: 2em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-bottom: 0.5em;
        }
        a {
          font-size: 1.5em;
          line-height: 1.33;
          color: white;
          text-decoration: none;
          text-align: center;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 511px) {
  .footer-wrapper {
    margin-top: 2em;
    width: 40em;
    height: 29em;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-info {
      width: 36em;
      img {
        width: 36em;
        height: 8.25em;
      }
      .flags-links {
        width: 36em;
        margin-top: 2em;
        display: flex;
        flex-flow: column;
        a {
          margin-bottom: calc(#{$baseMobile} * 2);
          font-size: 1.25em;
          line-height: 1;
          color: white;
          text-decoration: none;
          text-align: center;
          display: block;
        }
      }
    }
  }
}
