.compilation-content {
  .compilation-content-cards-wrapper {
    margin: 2em auto 0;
    width: 70em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .compilation-card-wrapper {
      margin-bottom: 1em;
    }
    .feature-card-wrapper {
      margin-bottom: 1em;
    }
  }
}
