.ce-header {
  padding: calc(100vw / 74 * 0.2) 0;
  margin: 0;
  line-height: 1.5;
  outline: none;
}
h1.ce-header {
  font-size: 3.5em;
  font-weight: 600;
}
h2.ce-header {
  font-size: 2.5em;
  font-weight: 500;
}
h3.ce-header {
  font-size: 1.75em;
  font-weight: 500;
}

.ce-block__content {
  margin: 0;
  width: 100% !important;
  max-width: 100% !important;
  a:visited {
    color: blue;
  }
}
.ce-toolbar__content {
  margin: 0;
  max-width: 100% !important;
}

.ce-delimiter {
  position: relative;
  padding: 2em 0 !important;
}

.cdx-settings-button--active {
  background-color: #f0f0f0;
}

.ce-delimiter:before {
  display: inline-block;
  content: "" !important;
  position: absolute;
  left: 0;
  height: 0.09em !important;
  width: 100%;
  background-color: black;
}

.codex-editor__redactor {
  padding-bottom: 2em !important;
}

.bg-black {
  background-color: #000;
}

.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}

.cdx-sup {
  vertical-align: super;
  font-size: 0.8em;
}

@media (min-width: 512px) {
  .editor-parsed {
    p {
      font-size: 1em;
      line-height: 1.3;
      padding: 0.2em 0 0;
    }
    b {
      font-weight: 500;
    }
    i {
      font-style: italic;
    }
    u {
      text-decoration: underline;
    }
    del {
      text-decoration: line-through;
    }
    a {
      color: blue;
      &:visited {
        color: blue;
      }
    }
    ol {
      line-height: 1.6;
      list-style: decimal;
      padding: 0.2em 0 0 2em;
    }
    ul {
      line-height: 1.6;
      list-style: disc;
      padding: 0.2em 0 0 2em;
    }
    h1 {
      font-size: 3.5em;
      font-weight: 600;
      line-height: 1.5;
      padding: calc(#{$base} * 0.2) 0;
    }
    h2 {
      font-size: 2.5em;
      font-weight: 500;
      line-height: 1.5;
      padding: calc(#{$base} * 0.2) 0;
    }
    h3 {
      font-size: 1.75em;
      font-weight: 500;
      line-height: 1.5;
      padding: calc(#{$base} * 0.2) 0;
    }
    hr {
      width: 100%;
      margin: 2em 0;
      position: relative;
      height: 0.12em;
      background-color: black;
      border: 0;
    }
    sup {
      vertical-align: super;
      font-size: 0.8em;
    }
  }
}
@media (max-width: 511px) {
  p {
    font-size: 1.5em;
    line-height: 1.33;
    padding: 0.5em 0 0;
  }
  b {
    font-weight: 500;
  }
  i {
    font-style: italic;
  }
  u {
    text-decoration: underline;
  }
  del {
    text-decoration: line-through;
  }
  a {
    color: blue;
    &:visited {
      color: blue;
    }
  }
  h1 {
    font-size: 3.5em;
    font-weight: 600;
    line-height: 1.5;
    padding: calc(#{$baseMobile} * 0.5) 0;
  }
  h2 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.5;
    padding: calc(#{$baseMobile} * 0.5) 0;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 500;
    line-height: 1.5;
    padding: calc(#{$baseMobile} * 0.5) 0;
  }
  ol {
    line-height: 1.6;
    list-style: decimal;
    padding: 0.2em 0 0 2em;
  }
  ul {
    line-height: 1.6;
    list-style: disc;
    padding: 0.2em 0 0 2em;
  }
  hr {
    width: 100%;
    margin: 2em 0;
    position: relative;
    height: 0.1em;
    background-color: black;
    border: 0;
  }
  sup {
    vertical-align: super;
    font-size: 0.8em;
  }
}
