.index-content {
  margin: 5.875em auto 0;
  a {
    text-decoration: none;
  }
  .index-cards-wrapper {
    a {
      text-decoration: underline;
    }
    display: flex;
    width: 70em;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
