@media (min-width: 512px) {
  .news-caption {
    width: calc(50em / 1.25);
    margin-top: 2em;
    font-size: 1.25em;
    line-height: 1.2;
    font-weight: 500;
  }
  .news-content {
    width: 70em;
    margin: 4.5em auto 5.5em;
    img {
      width: 70em;
      height: 37.5em;
      margin: 0 auto 2.5em;
      object-fit: cover;
      object-position: center;
    }
    .news-header {
      h1 {
        font-size: 4em;
        line-height: 1;
        font-weight: 400;
        letter-spacing: -5.5%;
        white-space: pre-wrap;
      }
    }
    .news {
      margin-top: 3.5em;
      margin-bottom: 2.75em;
      width: 50em;
      p {
        font-size: 1.25em;
        line-height: 1.2;
        padding: 0.2em 0 0;
        b {
          font-weight: 500;
        }
        i {
          font-style: italic;
        }
      }
    }
    span {
      width: calc(50em / 1.25);
      font-size: 1.25em;
      line-height: 1.2;
      font-weight: 500;
    }
  }
}

@media (max-width: 511px) {
  .news-content {
    width: 70em;
    margin: 4.5em auto 5.5em;
    img {
      width: 70em;
      height: 37.5em;
      margin: 0 auto 2.5em;
      object-fit: cover;
      object-position: center;
    }
    .news-header {
      h1 {
        font-size: 4em;
        line-height: 1;
        font-weight: 400;
        letter-spacing: -5.5%;
        white-space: pre-wrap;
      }
    }
    .news {
      margin-top: 3.5em;
      margin-bottom: 2.75em;
      width: 50em;
      p {
        font-size: 1.25em;
        line-height: 1.2;
        padding: 0.2em 0 0;
        b {
          font-weight: 500;
        }
        i {
          font-style: italic;
        }
      }
    }
    span {
      width: calc(50em / 1.25);
      font-size: 1.25em;
      line-height: 1.2;
      font-weight: 500;
    }
  }
}
