@media (min-width: 512px) {
  .online-issue-content-wrapper {
    width: 40em;
    margin: 10em auto 0;
    .description {
      margin-top: 10em;
      color: white;
      h2 {
        font-size: 1.25em;
        line-height: 1.2;
        font-weight: 500;
        text-align: left;
        &.black {
          color: black;
        }
      }
      p {
        font-size: 1em;
        line-height: 1.2;
        margin-top: 3em;
        width: 40em;
        white-space: pre-wrap;
        &.black {
          color: black;
        }
      }
    }
    .piece-content {
      margin-top: 10em;
      position: relative;
      .piece-anchor {
        top: -7em;
        left: 0em;
        position: absolute;
      }
      h1 {
        color: white;
        &.black {
          color: black;
        }
      }
      .piece-authors {
        span {
          margin-top: 0.125em;
        }
        font-size: 1em;
        line-height: 1.25;
        margin-bottom: 0.125em;
        a {
          display: block;
          color: white !important;
          &::after {
            background-color: #fff !important;
          }
          &.make_black {
            color: black !important;
          }
        }
      }
      .piece-cover {
        width: 40em !important;
        height: 22.5em !important;
        margin: 0 0 2em !important;
      }
      p {
        color: white;
      }
      h2 {
        color: white;
      }
      h3 {
        color: white;
      }
      li {
        color: white;
      }
      hr {
        background-color: white !important;
      }
      .piece-notes {
        margin-top: 1.5em;
        opacity: 0.5;
      }
      span {
        color: white;
      }
    }
  }
}

@media (max-width: 511px) {
  .online-issue-content-wrapper {
    width: 36em;
    margin: 8em auto 0;
    .description {
      margin-top: 8em;
      color: white;
      h2 {
        font-size: 2em;
        line-height: 1.2;
        font-weight: 500;
      }
      p {
        font-size: calc(#{$baseMobile} * 1.5);
        line-height: 1.5;
        margin-top: 2em;
        white-space: pre-wrap;
      }
    }
    .piece-content {
      margin-top: 10em;
      position: relative;
      .piece-anchor {
        top: -7em;
        left: 0em;
        position: absolute;
      }
      .piece-cover {
        width: 36em !important;
        height: 20.5em !important;
        margin: 0 0 1em !important;
      }
      h1 {
        color: white;
      }
      .piece-authors {
        span {
          margin-top: 0.125em;
        }
        a {
          display: block;
          color: white !important;
        }
      }
      p {
        color: white;
      }
      h2 {
        color: white;
      }
      h3 {
        color: white;
      }
      li {
        color: white;
      }
      hr {
        background-color: white !important;
      }
      span {
        color: white;
      }
    }
  }
}
