.user-profile-content-wrapper {
  margin-top: 1em;
  .list-view-wrapper {
    width: 70em;
    margin: 4em auto 0;
    display: flex;
    flex-flow: column;
    h2 {
      line-height: 1.25;
      font-size: 1em;
      margin-bottom: 1.25em;
      color: #fff;
    }
    a {
      color: #fff;
      font-size: 1em;
      line-height: 1.25;
      margin-top: 0.25em;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .card-view-wrapper {
    width: 70em;
    margin: 4em auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .compilation-card-wrapper {
      box-sizing: border-box;
      border: #595959 solid 0.0625em;
      margin-bottom: 1em;
    }
  }
  margin-bottom: 1em;
}
