@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: font-url("Inter-Regular.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: italic;
  src: font-url("Inter-Italic.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: font-url("Inter-Medium.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: italic;
  src: font-url("Inter-MediumItalic.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: font-url("Inter-SemiBold.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: italic;
  src: font-url("Inter-SemiBoldItalic.woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: font-url("Inter-Bold.woff2");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: italic;
  src: font-url("Inter-BoldItalic.woff2");
}
