@media (min-width: 512px) {
  .compilation-card-wrapper {
    width: 34.5em;
    height: 27em;
    padding: 1em 1em;
    box-sizing: border-box;
    background-color: #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    .card-info {
      display: flex;
      justify-content: space-between;
      span {
        line-height: 2;
        font-size: 1em;
        color: #cccccc;
        &.property {
          color: #cc3434;
        }
      }
    }
    img {
      width: 26.5em;
      height: 15em;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }
    h2 {
      line-height: 2;
      font-size: 1em;
      color: #f2f2f2;
    }
    .text-preview {
      width: 20.25em;
      height: 7em;
      overflow: hidden;
      margin: 0 auto;
      p {
        font-size: 0.75em;
        line-height: 1.2;
        color: #f2f2f2;
      }
    }
    b {
      font-weight: 700;
    }
    i {
      font-style: italic;
    }
  }
}

@media (max-width: 511px) {
  .compilation-card-wrapper {
    width: 36em;
    height: 28.75em;
    padding: 2em 2em;
    box-sizing: border-box;
    background-color: #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    .card-info {
      display: flex;
      justify-content: space-between;
      span {
        line-height: 1.33;
        font-size: 1.5em;
        color: #cccccc;
        &.property {
          color: #cc3434;
        }
      }
    }
    img {
      width: 26em;
      height: 13.75em;
      margin: 0 auto;
      object-fit: contain;
      object-position: center;
    }
    h2 {
      line-height: 1.33;
      font-size: 2em;
      color: #f2f2f2;
    }
    .text-preview {
      width: 20.25em;
      height: 7em;
      overflow: hidden;
      margin: 0 auto;
      p {
        font-size: 0.75em;
        line-height: 1.33;
        color: #f2f2f2;
      }
    }
    b {
      font-weight: 700;
    }
    i {
      font-style: italic;
    }
  }
}
