.compilation-card-wrapper {
  width: 34.5em;
  height: 27em;
  padding: 1em 1em;
  box-sizing: border-box;
  background-color: #000;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  .card-info {
    display: flex;
    justify-content: space-between;
    span {
      line-height: 2;
      font-size: 1em;
      color: #cccccc;
      &.property {
        color: #cc3434;
      }
    }
  }
  img {
    width: 26.5em;
    height: 15em;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  h2 {
    line-height: 2;
    font-size: 1em;
    color: #fff;
  }
}
