/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "base/reset";
@import "**/*";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ce-header {
  padding: calc(100vw / 74 * 0.2) 0;
  margin: 0;
  line-height: 1.5;
  outline: none;
}
h1.ce-header {
  font-size: 3.5em;
  font-weight: 600;
}
h2.ce-header {
  font-size: 2.5em;
  font-weight: 500;
}
h3.ce-header {
  font-size: 1.75em;
  font-weight: 500;
}

.ce-block__content {
  margin: 0;
  width: 100% !important;
  max-width: 100% !important;
  a:visited {
    color: blue;
  }
}
.ce-toolbar__content {
  margin: 0;
  max-width: 100% !important;
}

.ce-delimiter {
  position: relative;
  padding: 2em 0 !important;
}

.cdx-settings-button--active {
  background-color: #f0f0f0;
}

.ce-delimiter:before {
  display: inline-block;
  content: "" !important;
  position: absolute;
  left: 0;
  height: 0.09em !important;
  width: 100%;
  background-color: black;
}

.codex-editor__redactor {
  padding-bottom: 4em !important;
}

.bg-black {
  background-color: #000;
}

.alignLeft {
  text-align: left;
}
.alignRight {
  text-align: right;
}
.alignCenter {
  text-align: center;
}

@media (min-width: 512px) {
  body {
    font-size: $base;
    font-family: "Inter";
    max-width: 100vw;
    overflow-x: hidden;
  }
  .ce-paragraph {
    width: 100%;
    font-size: 1em;
    line-height: 1.3;
    &::before {
      color: #b3b3b3 !important;
    }
  }
  .cdx-block {
    padding: 0.2em 0 0;
    &::before {
      color: #b3b3b3 !important;
    }
  }

  .app-wrapper {
    width: 70em;
    margin: 0 auto;
  }

  .show-on-hover {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }

  .starter {
    width: 70em;
    margin-top: 9em;
    margin-bottom: 3em;
    text-align: center;
    h1 {
      font-size: 10em;
      line-height: 1.02;
      letter-spacing: -0.1em;
    }
    h2 {
      text-transform: uppercase;
      margin-top: 3rem;
      font-size: 2em;
      line-height: 1.5;
    }
  }
  .content {
    width: 70em;
  }

  .filters {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filters-toggler {
      font-size: 1.5em;
      line-height: 1.33;
      a {
        color: black;
        font-weight: 500;
      }
    }
    .filters-content {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      .row {
        display: flex;
        justify-content: center;
        &:first-of-type {
          margin-bottom: 0.5em;
        }
      }
      a {
        font-size: 1.5em;
        line-height: 1.33;
        color: black;
        margin: 0 calc(1em / 2);
      }
    }
  }
}

@media (max-width: 511px) {
  body {
    font-size: $baseMobile;
    font-family: "Inter";
    max-width: 40em;
    overflow-x: hidden;
  }
  .ce-paragraph {
    width: 100%;
    font-size: 1em;
    line-height: 1.3;
    &::before {
      color: #b3b3b3 !important;
    }
  }
  .cdx-block {
    padding: 0.2em 0 0;
    &::before {
      color: #b3b3b3 !important;
    }
  }

  .app-wrapper {
    width: 36em;
    margin: 0 auto;
  }

  .show-on-hover {
    opacity: 0;
    &:hover {
      opacity: 1;
    }
  }

  .content {
    width: 70em;
  }

  .filters {
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    .filters-toggler {
      font-size: 1.5em;
      line-height: 1.33;
      a {
        color: black;
        font-weight: 500;
      }
    }
    .filters-content {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
      .row {
        display: flex;
        justify-content: center;
        &:first-of-type {
          margin-bottom: 0.5em;
        }
      }
      a {
        font-size: 1.5em;
        line-height: 1.33;
        color: black;
        margin: 0 calc(1em / 2);
      }
    }
  }
}
