.compilation-starter {
  width: 70em;
  margin: 7.375em auto 0;
  p {
    margin-top: 1.75em;
    font-size: 1.5em;
    line-height: 1.0552;
    text-align: center;
    text-transform: uppercase;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.bg-black {
  .compilation-starter {
    h1 {
      color: #fff;
    }
  }
  .content-filter-wrapper {
    span {
      color: #7d7d7d;
      &.active {
        font-weight: 600;
        font-style: italic;
        color: #fff;
      }
    }
    .content-filter-toggler {
      span {
        color: #fff;
      }
    }
  }
  .compilation-content-cards-wrapper {
    .compilation-card-wrapper {
      box-sizing: border-box;
      border: #595959 solid 0.0625em;
      margin-bottom: 1em;
    }
  }
  .feature-card-wrapper {
    box-sizing: border-box;
    border: #595959 solid 0.0625em;
    margin-bottom: 1em;
  }
}
