.index-starter {
  width: 58em;
  margin: 10em auto 0;
  img {
    width: 58em;
    height: 14em;
  }
  p {
    margin-top: 4em;
    font-size: 1.5em;
    line-height: 1.0552;
    text-align: center;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
