.index-starter {
  width: 60em;
  margin: 7.375em auto 0;
  img {
    width: 60em;
    height: 14.5em;
  }
  p {
    margin-top: 4em;
    font-size: 1.5em;
    line-height: 1.0552;
    text-align: center;
    text-transform: uppercase;
    a {
      color: black;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
