.starters-heading-big {
  line-height: 1.02;
  font-size: 10em;
  text-align: center;
  letter-spacing: -0.055em;
  user-select: none;
}

.starters-heading-small {
  font-size: 6.5em;
  line-height: 1;
  text-align: center;
  letter-spacing: -0.03em;
}
